APP_ENV=development
APP_HTTP_PORT=:8080
APP_HTTP_READ_TIMEOUT=10s
APP_HTTP_WRITE_TIMEOUT=10s
APP_HTTP_IDLE_TIMEOUT=60s
APP_HTTP_SHUTDOWN_TIMEOUT=8s

APP_LOGGING_LEVEL=info

APP_TELEGRAM_TOKEN=yours
APP_CHAT_ID=1111111

APP_POSTGRES_CONNECTION_URL=postgres://postgres:1@pg-local:5432/postgres?sslmode=disable

APP_REDIS_ADDR=redis:6379
APP_REDIS_PASSWORD=
APP_REDIS_DB=0

APP_RABBITMQ_HOST=rabbitmq
APP_RABBITMQ_PORT=5672
APP_RABBITMQ_USER=guest
APP_RABBITMQ_PASSWORD=guest

APP_MAILER_HOST=smtp.gmail.com
APP_MAILER_PORT=587
APP_MAILER_EMAIL=yours@gmail.com
APP_MAILER_PASSWORD=yours
APP_MAILER_USE_TLS=true
APP_MAILER_SEND_TIMEOUT=10s